<div class="app-container">
  <mat-card class="login-signin-card">
    <div class="form-container">
      <!-- Email Input -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" [formControl]="email">
        <mat-error *ngIf="email?.touched && email?.invalid">
          {{ email.hasError('required') ? 'Email is required' : 'Invalid email format' }}
        </mat-error>
      </mat-form-field>

      <!-- Password Input -->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password">
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.touched && password?.invalid">
          {{ password.hasError('required') ? 'Password is required' : 'Password must be at least 6 characters long' }}
        </mat-error>
      </mat-form-field>

      <!-- Log in Button -->
      <div class="navButtons">
        <a mat-raised-button  (click)="onLogin()" [disabled]="loginForm.invalid || loading">
          <div *ngIf="loading" class="loader-container">
            <span class="loader"></span>
          </div>
          <span *ngIf="!loading">Log in</span>
        </a>
      </div>

      <!-- Sign-up Link -->
      <p class="sign-up-info">
        If you are not an existing user, please sign up <a routerLink="/signup">here</a>
      </p>
    </div>
  </mat-card>
</div>
