<div class="app-container">
  <div>
    <p class="about-content">Our mission is to provide a reliable and intuitive platform for individuals and businesses
      to store, sync, and share their files effortlessly. Whether you're working from home, on the go, or collaborating
      with a team, Sky-Sync Drive ensures your data is always within reach.</p>
  </div>

  <!-- Footer Section -->
  <footer class="footer-content">
    <p>Contact Us</p>
    <p>
      Have questions or feedback? We’d love to hear from you! Reach out to our support team at
      <a href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWsLTHWKgnxNgTTcDkDbcHlfNskTpgqZFNMRvkskhtQXgzrqdctczmTTbLtMCGJhQzNjLqDDb" target="_blank">sekharguna491&#64;gmail.com</a>
    </p>
  </footer>

</div>
