<div class="app-container">
    <mat-card class="home-card">
        <mat-tab-group class="tab-group">
            <mat-tab label="Storage">
                <!-- Include the pie chart component -->
                <app-storage-pie-chart></app-storage-pie-chart>
              </mat-tab>
            <mat-tab label="Media"> <app-media-manager></app-media-manager> </mat-tab>
            <mat-tab label="Upload Media"> <app-file-upload></app-file-upload> </mat-tab>
          </mat-tab-group>    
    </mat-card>
  
</div>

