
<div class="app-container">
  <mat-card class="home-card">
    <!-- Tab navigation -->
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link
         *ngFor="let tab of tabs"
         [routerLink]="tab.route"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{ tab.label }}
      </a>
    </nav>

    <!-- Tab content panel -->
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </mat-card>
</div>
