<div class="app-container">
    <div class="back-button">
        <button mat-button (click)="navigateToMedia()" ><mat-icon>keyboard_backspace</mat-icon>Media-dashboard</button>
    </div>
    <mat-card class="video-detail-card">
      <div class="video-container">
        <div *ngFor="let file of dummyFiles" class="video-item">
          <div *ngIf="file.fileType.startsWith('video')" (click)="openVideoDialog(file)" class="video-preview">
            <mat-icon>play_circle_filled</mat-icon>
            <div class="file-name">{{ file.fileName }}</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>