<div style="background-color: black;">
  <mat-toolbar color="primary">
    <!-- Looka (https://looka.com/): used this for logo generation-->
    <img src="assets/images/logo.png" alt="Sky-Sync Drive Logo" class="logo" />
      <span class="spacer"></span>
    <div class="navButtons">
      <a mat-raised-button routerLink="about">About</a> <br>
      <a mat-raised-button routerLink="login">Log out</a> <br>

    </div>
  
  </mat-toolbar>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
