<mat-card class="Media">
  <div class="media-manager">
    <mat-card class="folder-card">
      <!-- Images Folder -->
      <div class="folder" (click)="navigateToFolder('images-detail')">
        <h4>Images</h4>
        <img src="assets/images/images-cover.png" alt="Images Cover" class="cover-image" />
      </div>
    </mat-card>

    <mat-card class="folder-card">
      <!-- Audio Folder -->
      <div class="folder" (click)="navigateToFolder('audios-detail')">
        <h4>Audio</h4>
        <img src="assets/images/audio-cover.png" alt="Audio Cover" class="cover-image" />
      </div>
    </mat-card>

    <mat-card class="folder-card">
      <!-- Videos Folder -->
      <div class="folder" (click)="navigateToFolder('videos-detail')">
        <h4>Videos</h4>
        <img src="assets/images/videos-cover.png" alt="Videos Cover" class="cover-image" />
      </div>
    </mat-card>

    <mat-card class="folder-card">
      <!-- Pdfs Folder -->
      <div class="folder" (click)="navigateToFolder('pdfs')">
        <h4>Pdfs</h4>
        <img src="assets/images/pdf-cover.png" alt="pdfs Cover" class="cover-image" />
      </div>
    </mat-card>
  </div>
</mat-card>