.media-manager {
    padding: 20px;
  }
  
  .folder {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .folder h2 {
    margin-top: 0;
    color: #333;
  }
  
  .file-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .file-item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;
  }
  
  .thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  audio,
  video {
    width: 200px;
    margin-bottom: 10px;
  }

  .media-card{
    width: 90% !important;
    margin-bottom: auto;
    padding: 30px;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-radius: 2px; /* Optional: Add rounded corners */
  }