.media-manager {
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 62px;
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping */
  gap: 20px;
  overflow-x: auto; /* Add horizontal scroll if folders exceed container width */
}

.folder-card {
  flex: 0 0 auto; /* Prevent flex-grow and flex-shrink, keep fixed width */
  padding: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}


.folder {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  padding: 15px;
  background-color: #f9f9f9;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add smooth transitions */
}

.folder h4 {
  margin-top: 0;
  color: #333;
}

.folder:hover {
  transform: scale(1.05); /* Slightly scale up the folder */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}

.folder h3 {
  margin-top: 0;
  color: #333;
  transition: color 0.3s ease; /* Smooth color transition for text */
}

.folder:hover h3 {
  color: #007bff; /* Change text color on hover */
}

.cover-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}